<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="25%" fxFlex.xs="80%" fxFlex.sm="50%">
        <mat-toolbar color="primary">Recover Password</mat-toolbar>
        <div fxLayoutAlign="stretch" fxLayout="column" class="login-form">
            <div class="header">Enter the email address associated with your account.</div>
            <mat-form-field class="email-input">
                <input
                  type="email"
                  matInput
                  [formControl]="emailFormControl"
                  [errorStateMatcher]="matcher"
                  placeholder="Email Id"
                  #userEmail
                  #passwordResetEmail
                />
                <mat-error
                  *ngIf="
                    emailFormControl.hasError('email') &&
                    !emailFormControl.hasError('required')
                  "
                >
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <button mat-raised-button (click)="authService.ForgotPassword(passwordResetEmail.value)">Send Reset link</button>
              <div class="redirectToLogin">
                <span>Go back to <a [routerLink]="['/login']" >Log in</a>?</span>
              </div>
        </div>
    </mat-card>
</div>
