.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

mat-card {
  max-width: 1300px;
  margin: 2em auto;
  text-align: center;
  height: 500px;
}

mat-card-content {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

pdf-viewer {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(5px 5px 5px #fff);
  height : 200px
}
