.main-div mat-card{
    padding: 0px;
}

.login-form{
    padding: 20px;
}

.forgot-password{
    padding-bottom: 10px;
    text-align: right;
}

.email-input{
    padding-bottom: 10px;
}

a{
    text-decoration: none;
}